header {
    height: fit-content;
    border-bottom: 1px solid #E2E8F0;
}
header .wrapper {
    width: 1450px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.logo-content {
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.section_loop {
    display: flex;
    align-items: center;
    margin-left: 90px;
}
.rigth_section  {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 90px;
    list-style: none;
}
.rigth_section li {
    font-family: Arial, Helvetica, sans-serif;
    
}
.button-btn {
    font-size: 14px;
    padding: 10px 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    border: 1px solid gray;
    
}
.button-max {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.button-btn1 {
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border: 1px solid gray;
    background-color: #334155;
    color: #FFFFFF;
}
.button-btn1:hover {
    background-color: #465871;
    color: #FFFFFF;
}
/* =============================================== */

/* =============================================== */


/* =============================================== */


/* =============================================== */

/* =============================================== */






/* =============================================== */


/* =============================================== */

/* Responsive Design */
@media (max-width: 768px) {
    .loop {
        margin-left: 20px;
    }

    ul {
        gap: 15px;
    }

    .max-button,
    .signup {
        width: 80px;
        padding: 8px;
    }

    .lopping ul {
        flex-wrap: wrap;
    }

    .background {
        flex-wrap: wrap;
    }

    .lopping ul {
        flex-wrap: wrap;


    }

    .section-map ul {
        flex-wrap: wrap;

    }

}

@media (max-width: 480px) {
    header {
        height: auto;
        padding: 10px 0;
    }

    .loop {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }

    .logo-content {
        font-size: 12px;
    }

    header .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }

    .max-button,
    .signup {
        width: 100%;
        text-align: left;
        padding: 10px 20px;
    }

    .lopping ul {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .section-map ul {
        flex-wrap: wrap;

    }

    .section-map ul li {
        border: 1px solid #E2E8F0;
        padding: 10px;
        width: 100px;
    }
}